.App {
 text-align: left;
 font-family: 'Open Sans', sans-serif;
}

.search {
	padding: 1%;
}

h1 h3 {
line-height: 30px; 
}

.search h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 50px;
}

.search p {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

.search h3 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 40px;
}

.weWork{
	padding-left: 4%;
	padding-right: 4%;
}

.behindImage {
	padding: 1%;
}

.weWork:hover{
	background-color: rgb(255,202,98);
	cursor: pointer;
	border-radius: 5px;
}

.nav{
	/*padding: 1% 1%;*/
	display: block;
}

.nav img{
	max-width: 200px;
	max-height: auto;
	padding: 1%;
}


#everythingContainer {
	padding: 3% 5%;
}

#everythingContainer p{
	font-size: 40px;
}
